@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #3a3a3a;
  --btn-color: #e02c6d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

.btn-primary {
  background-color: var(--btn-color);
  border-radius: 41px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 10px 24px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-primary:hover {
  background-color: #9a1747;
}

/* Nav Section */

nav {
  width: 75%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.logo h2 a {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 57px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  list-style: none;
}
ul li a {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 50px;
  margin-left: 14px;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 8px;
}
ul li a:hover {
  background-color: #787885;
  color: #fff;
}
ul li a i {
  font-size: 24px;
}

/* Hero Section */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82.5%;
  max-width: 1188px;
  margin: 0 auto;
  margin-top: 50px;
}

.hero-content {
  max-width: 582px;
}

.hero-description {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 600;
  margin: 16px 0;
}

.hero-title {
  color: var(--primary-color);
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 70px;
}

.hero-image {
  width: 100%;
  max-width: 475px;
  height: 475px;
  background: url(./images/Circle\ design.svg) no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: cover;
  margin-bottom: 100px;
}

.hero-image img {
  max-width: 440px;
  height: 414px;
  width: 100%;
}

/* Sponsors Section */

.icons {
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.icons img {
  max-width: 202px;
}

/* Product Section */

.product-title {
  color: var(--primary-color);
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.card-section {
  max-width: 1047px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.cards {
  border-radius: 8px;
  max-width: 329px;
  padding: 17px 14px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.187);
}

.cards img {
  margin-bottom: 16px;
  width: 100%;
}

.card-title {
  font-size: 2.8rem;
  font-weight: 600;
  color: #18191f;
  margin-bottom: 6px;
}

.price {
  font-size: 2.4rem;
  color: #00000087;
}

.card-description {
  font-size: 1.4rem;
  color: #787885;
  font-weight: bold;
}

.rating {
  font-size: 1.4rem;
  color: #fb8200;
}
.rating span {
  font-size: 1.4rem;
  color: #5e6366;
  font-weight: bold;
}

.see-more {
  width: 100%;
  max-width: 1047px;
  margin: 0 auto;
  text-align: right;
}

.arrow a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  color: #e02c6d87;
}
.arrow span {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 5px;
  transition: transform 0.4s ease;
}
.arrow:hover span {
  transform: translateX(10px);
}

/* Featured Section */

.feature {
  max-width: 1110px;
  margin: 100px auto;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.feature-img {
  max-width: 404px;
}
.feature-img img {
  width: 100%;
}
.feature-content h2 {
  font-size: 3.8rem;
  font-weight: bold;
  color: #0a0826;
  margin-bottom: 16px;
  max-width: 610px;
}
.feature-content p {
  font-size: 1.6rem;
  font-weight: bold;
  color: #6c6c6c;
  line-height: 28px;
  margin-bottom: 16px;
  max-width: 500px;
}

/* Footer Section */

.back {
  width: 100%;
  background-color: #0a0826;
  max-width: 1440px;
  height: 240px;
  margin: 0 auto;
  color: #fff;
}

.footer-content {
  text-align: center;
}
.footer-content h3 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
}
.footer-content p {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 4px;
}

.social-icons a i {
  color: #fff;
  text-decoration: none;
  margin-top: 18px;
  width: 32px;
  height: 32px;
  background-color: #ffffff10;
  padding: 25px;
  border-radius: 50%;
  font-size: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: inline-flex;
  gap: 20px;
}
.social-icons a i:hover {
  background-color: #5e6366;
}

/* Small Device */

@media screen and (max-width: 576px) {
  ul {
    flex-direction: column;
    margin-top: 10px;
  }
  .hero {
    flex-direction: column;
  }
  .hero-content {
    max-width: 390px;
    text-align: center;
  }

  .hero-description {
    font-size: 1.2rem;
  }

  .hero-title {
    font-size: 3.2rem;
    line-height: 34px;
  }

  .hero-image {
    background-position: center;
  }

  .icons {
    flex-direction: column;
  }
  .icons img {
    max-width: 430px;
    margin-bottom: 20px;
  }
  .card-section {
    grid-template-columns: 1fr;
  }
  .arrow a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: #e02c6d87;
  }
  .feature {
    flex-direction: column;
  }
  .social-icons {
    gap: 5px;
  }
  .footer-content h3 {
    font-size: 1.4rem;
  }
  .footer-content p {
    font-size: 1rem;
  }
  .see-more {
    text-align: center;
  }
}

/* Medium Device */

@media screen and (min-width: 577px) and (max-width: 992px) {
  ul li a {
    flex-wrap: wrap;
  }
  nav {
    width: 90%;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .hero-content {
    margin-bottom: 50px;
    text-align: center;
  }
  .icons {
    width: 90%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .icons img {
    max-width: 202px;
  }
  .card-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .see-more {
    text-align: left;
    width: 80%;
  }
  .feature {
    flex-direction: column;
  }
}
